@model BlogicAssignment.Models.Contract

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvidenceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvidenceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Institution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Institution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supervisor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supervisor.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEnterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractEnterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractValidSinceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractValidSinceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractEndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContractID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
